<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.mihoyo.hyperion" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- Devices running Android 9 (API level 29) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <!-- Devices running Android 13 (API level 33) or higher -->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />-->

    <application
        android:name=".common.application.PaimonsNotebookApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_paimonsnotebook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_paimonsnotebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaimonsNotebook"
        tools:targetApi="33">

        <activity
            android:name=".ui.screen.player_character.view.PlayerCharacterDetailScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.player_character.view.PlayerCharacterScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.cultivate_project.view.CultivateProjectOptionScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.cultivate_project.view.CultivateProjectScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.shortcuts_manager.view.ShortcutsManagerScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.achievement.view.AchievementRecordExportDataScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.achievement.view.AchievementOptionScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.achievement.view.AchievementGoalScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.achievement.view.AchievementScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.resource_manager.view.ImageDetailScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".common.view.QRCodeScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PaimonsNotebookFullScreen" />
        <activity
            android:name=".common.view.CrashScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.abyss.view.AbyssScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".common.view.HoyolabWebActivity"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.app_widget.view.AppWidgetConfigurationScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.app_widget.view.AppWidgetScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.resource_manager.view.ResourceManagerScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.gacha.view.GachaRecordScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.gacha.view.GachaRecordOptionScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.gacha.view.GachaRecordExportDataScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.daily_note.view.DailyNoteScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.setting.view.SettingsScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.account.view.AccountManagerScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.splash.view.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.guide.view.GuideScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".common.view.VideoPlayScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.PaimonsNotebookNoTranslucent"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".common.view.WebViewScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.home.view.TopicScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.home.view.PostDetailScreen"
            android:theme="@style/Theme.PaimonsNotebook"/>
        <activity
            android:name=".ui.screen.items.view.AvatarScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.items.view.WeaponScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.items.view.CultivationMaterialScreen"
            android:theme="@style/Theme.PaimonsNotebook" />
        <activity
            android:name=".ui.screen.develop.TypographyScreen"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.PaimonsNotebook">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
<!--                <data android:scheme="mdk_e45a5ea9b62b87aa" />-->
<!--                <data android:scheme="mdk_47f91e6080ef9670"/>-->
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.home.view.HomeScreen"
            android:theme="@style/Theme.PaimonsNotebook" />

        <service
            android:name=".common.service.overlay.debug.DebugOverlayService"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon1X1"
            android:exported="false"
            android:label="@string/appwidget_label_common_1_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_1x1" />
        </receiver>

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon2X1"
            android:exported="false"
            android:label="@string/appwidget_label_common_2_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_2x1" />
        </receiver>

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon2X2"
            android:exported="false"
            android:label="@string/appwidget_label_common_2_2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_2x2" />
        </receiver>

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon3X1"
            android:exported="false"
            android:label="@string/appwidget_label_common_3_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_3x1" />
        </receiver>

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon3X2"
            android:exported="false"
            android:label="@string/appwidget_label_common_3_2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_3x2" />
        </receiver>

        <receiver
            android:name=".ui.widgets.widget.AppWidgetCommon4X3"
            android:exported="false"
            android:label="@string/appwidget_label_common_4_3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.UPDATE_APPWIDGET" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_VALIDATE" />
                <action android:name="com.lianyi.paimonsnotebook.appwidget.action.GO_CONFIGURATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_common_4x3" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>