<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianyi.paimonsnotebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".util.PaiMonsNoteBook"
        android:allowBackup="true"
        android:icon="@drawable/icon_klee"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PaimonsNotebookTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.detail.CharacterDetailV2Activity" />
        <activity android:name=".ui.activity.RedirectToDailyMaterialsActivity" />
        <activity android:name=".ui.summerland.SummerLandActivity" />
        <activity android:name=".ui.activity.home.AnnouncementDetailActivity" />
        <activity android:name=".ui.activity.home.AnnouncementActivity" />
        <activity android:name=".ui.activity.options.HomeOptionsActivity" />
        <activity
            android:name=".ui.activity.home.ArticleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.activity.FragmentContainerActivity" />
        <activity android:name=".ui.activity.options.WishOptionsActivity" />
        <activity android:name=".ui.activity.launch.SetCookieActivity" />
        <activity android:name=".ui.activity.options.ContentMarginActivity" />
        <activity android:name=".ui.activity.options.SideBarButtonSettingActivity" />
        <activity android:name=".ui.activity.search.SearchResultCharacterDetailActivity" />
        <activity android:name=".ui.activity.search.SearchResultActivity" />
        <activity android:name=".ui.activity.home.MonthLedgerActivity" />
        <activity android:name=".ui.activity.home.AccountManagerActivity" />
        <activity android:name=".ui.activity.LoadingGachaWishHistoryActivity" />
        <activity android:name=".ui.activity.home.DailySignActivity" />
        <activity android:name=".ui.activity.launch.HoYoLabLoginActivity" />
        <activity android:name=".ui.activity.detail.WeaponDetailActivity" />
        <activity android:name=".ui.activity.detail.CharacterDetailActivity" />
        <activity android:name=".ui.activity.EmptyActivity" />
        <activity android:name=".ui.activity.options.OptionsActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:theme="@style/PaimonsNotebookLaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/desktop_actions" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="400" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="700" />
        <!-- <receiver -->
        <!-- android:name=".card.ResinProgressBar" -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/resin_progress_bar_info" /> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.SCREEN_ON" /> -->
        <!-- <action android:name="android.intent.action.SCREEN_OFF" /> -->
        <!-- <action android:name="com.lianyi.widget.UPDATE_ACTION" /> -->
        <!-- <action android:name="com.lianyi.widget.GET_DAILY_NOTE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver android:name=".card.appwidget.CardResinType1Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.lianyi.widget.UPDATE_ACTION" />
                <action android:name="com.lianyi.widget.CLICK_UPDATE_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_resin_type1_widget_info" />
        </receiver>

        <receiver android:name=".card.appwidget.CardResinType2Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.lianyi.widget.UPDATE_ACTION" />
                <action android:name="com.lianyi.widget.CLICK_UPDATE_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_resin_type2_widget_info" />
        </receiver>

        <receiver android:name=".card.appwidget.CardDailyNoteOverviewWidget"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.lianyi.widget.UPDATE_ACTION" />
                <action android:name="com.lianyi.widget.CLICK_UPDATE_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_daily_note_overview_widget_info" />
        </receiver>


        <service
            android:name=".card.service.GetDailyNoteService"
            android:enabled="true" />
        <service
            android:name=".card.service.GetMonthLedgerService"
            android:enabled="true" />
        <service
            android:name=".card.service.ExpeditionListViewAdapterService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>